{%extends "base.html"%}
{% block content %}
<body>
    <main role="main" class="d-flex flex-column text-center justify-content-center align-items-center">
        <h1 class="cover-heading">What can Pig Dissection VR Do?</h1>
        <p class="lead">Pig Dissection VR currently offers 2 distinct activities for users to enjoy</p>
        <p class="lead">Teachers can give their student a unique class code to use at the beggining of the activity so progress can be tracked </p>
        <div class="card bg-light mb-3 text-dark text-align-center d-flex flex-column align-items-center" style="width: 20rem;">
            <h3 class="card-title">Activity 1</h3>
        </div>
        <div class="card bg-light mb-3 text-dark text-align-center d-flex flex-column align-items-center" style="width: 20rem;">
            <h3 class="card-title">Activity 2</h3>
        </div>
    </main>
</body>
{%endblock%}