{%extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>


<style>
  body{
      overflow: hidden;
  }
  #profileCard{
      /* background-color: #FAE6B1; */
      color: black;
     

  }
  .card-body{
    background-color: white;
  }
  #dashboardScreen{
      height: 100vh;
      overflow: hidden;
      background-color: #31525B;
      border: black;
      
  }
  p{
    color: black;
  }
</style>
<body>
    <main role="main" class="d-flex inner-cover text-center justify-content-center" id="dashboardScreen">
         
          <div class="row m-3">
            <div class="col-4 text-right">
              <h1 style="color: #FFA101;">Dashboard</h1>
              <div class="card mb-3 text-align-center d-flex justify-content-center border-dark border-5"   id="profileCard"style="width: 50rem; height: 50vh; margin: 50px;">
                <section>
                    <div class="card mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{data.email}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Role</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{data.role}}</p>
                            </div>
                          </div>
                      </div>
                    </div>
                </section>
                
                </div>
            </div>

          </div>  
          <div class="row m-3">
            <div class="col-4 text-right">
              <div style="height: 48;"></div>
              <div class="card text-align-center d-flex justify-content-center border-dark border-5 mb-5 "   id="profileCard"style="width: 50rem; height: 50vh; margin: 50px;">
                <section>
                  <div class="card-title text-start">
                    <h2 style="margin-left: 40px;">My Classes</h2>
                  </div>
                    <table class="table table-striped justify-content-around" style="margin-left: 10px;">
                      <thead>
                        <th>#</th>
                        <th>Class Code</th>
                        <th></th>
                      </thead>
                      {% for class_id in class_data %}
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td class="text-center">{{class_id}}</td>
                        <td class="text-center"><a href="{{ url_for('redirect_to_class' ,class_code=class_id)}}"><button class="btn btn-primary btn-sm">See More</button></a></td>
                      </tr>
                      {% endfor %}
                    </table>
                    {% if data.role == "Teacher" %}
                    <form  class="form-group" method="POST" >
                      <input hidden name ="type" id="type" value="add_class"/>
                      <button type="submit" class="btn btn-primary btn-lg">Add A Classroom</button>
                    </form>
                    {% else %}
                    <div class=" container" style="width: 50%;">
                      <form class="form-group" method="POST">
                      <div class="row p-1">
                        <div class="col">
                          <label for="class_input"><h4>Join a class</h2></label>
                        </div>
                      </div>
                      <div class="row p-1">
                        <div class="col">
                          <input class="form-control" name = "class_code" id ="class_input" placeholder="Enter Class Code"/>
                          {% if post_message != None %}
                          <p style="color: red;">{{post_message}}</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="row p-1">
                        <div class="col">
                          <input hidden name ="type" id="type" value="join_class"/>
                          <button type="submit" class="btn btn-primary btn-lg">Join Class</button>
                        </div>
                      </div>
                      </form>
                    </div>
                    {% endif %}
                </section>
                
                </div>
            </div>
          </div>
  </main>
  </body>
<div>
    

    

</div>
{%endblock%}
</html>